* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
}
/* this is the navbar style */

.navbar {
  background: white;
  border: 1px solid rgb(219, 211, 211);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 80px;
  margin-bottom: 0px;
}

.nav-logo img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.nav-items ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.nav-items ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-right: 20px;
  text-transform: capitalize;
  color: black;
  font-size: 20px;
}

.nav-items img {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Media query for small screens */
@media screen and (max-width: 768px) {
  .nav-container {
    justify-content: center;
    align-items: center;
  }

  .nav-container ul {
    margin-left: 0;
  }

  .nav-logo img {
    margin-left: 10;
  }

  .nav-items ul {
    margin-right: 10;
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container {
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  width: 200px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.card img {
  width: 100%;
}

.card-content {
  padding: 16px;
}
.card-content h3 {
  font-size: 17px;
  font-weight: lighter;
  margin-bottom: 8px;
}
.card-content p {
  margin-top: 6px;
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

/* this is the login style starts from here */

/* Styles for large screens */
.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.user-login {
  border: 1px solid rgb(199, 191, 191);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50%; /* Adjust as needed */
  background: white;
  border-radius: 10px;
}

.login-link {
  margin-top: 15px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-link-create {
  margin-top: 10px;
}

.login-link-create a {
  margin-top: 5px;
  background: white;
  border: 1px solid rgb(80, 177, 212);
  padding: 5px 50px; /* Adjust padding as needed */
  border-radius: 5px;
  font-size: 26px;
  font-weight: lighter;
  width: 120px;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .user-login {
    width: 90%;
    height: 50%;
    max-width: 400px; /* Adjust as needed */
  }

  .login-link p {
    width: auto;
  }
}

form {
  margin: 50px;
}
form input {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid rgb(133, 214, 236);
  margin-bottom: 3px;
  display: block;
  padding-left: 5px;
}

form button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #278fc0;
  font-size: large;
  font-weight: bold;
  background-color: #0b0b0b;
}

/* .col-2 ul {
  border-radius: 8px;
  width: 200px;
  list-style: none;
  line-height: 35px;
  padding-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.col-2 ul li {
  border-radius: 5px;
  height: 50px;
  padding-left: 15px;
  border: 1px solid #d7e1eb;
}

.list-group-item:hover {
  background-color: #e9ecef;
}

.col-2 {
  padding-top: 0px;
} */

.row {
  display: flex;
}

.category-button {
  margin-bottom: 5px;
  border: none;
  border-radius: 8px;
  width: 179px;
  list-style: none;
  line-height: 35px;
  margin-left: 20px;
  background-color: #fd7e14;
  color: #278fc0;
  font-weight: bold;
  font-size: 17px;
  height: 50px;
}

.cat-items {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.cat-items img {
  width: 300px;
}

.cat-item-img {
  display: flex;
}

.detail-page {
  margin: 50px;
}
.item-details {
  display: flex;
  justify-content: center;
  align-items: center;

  justify-content: center;
  align-items: center;
}

.detail-page img {
  width: 300px;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logout {
  height: 50vh;
  width: 50vh;
  background: white;
  margin-top: 20px;
  border-radius: 5px;
  padding-top: 10px;
  border: 1px solid rgb(222, 219, 219);
}
.logout p {
  font-size: 20px;
  color: black;
}
.logout button {
  margin-top: 20px;
  background-color: #085dce;
  color: white;
  border-radius: 5px;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.login-link a {
  color: rgb(80, 177, 212);
  font-weight: lighter;
  font-size: 20px;
}
.login-link a:hover {
  color: white;
}

.small-img {
  width: 300px;
}

.buy-button button {
  background-color: #085dce;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}
.buy-button button:hover {
  color: #c6cc09;
  font-weight: bold;
}
.buy-button {
  padding-left: 10px;
  padding-right: 10px;
}
.collection {
  color: #085dce;
}

.list-group a {
  color: #085dce;
}

footer {
  width: 100%;
  bottom: 0;
  background: #313030;
  padding: 20px 0px 20px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  color: white;
  position: fixed;
}

.footer-row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col {
  flex-basis: 25%;
  padding: 10px;
}
.footer-col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.footer-logo {
  width: 110px;
  height: 50px;
  padding-left: 10px;
  margin-left: 20px;
}

footer ul li a {
  color: rgb(255, 255, 255);
}

.social-icons {
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  gap: 3px;
}

.facebook {
  width: 35px;
  height: 40px;
}
.whatsapp {
  width: 40px;
  height: 40px;
}

.login-button {
  color: white;
  background: #085dce;
  font-weight: lighter;
  border: 1px solid rgb(188, 227, 233);
}

.login-button:hover {
  background: rgb(149, 205, 215);
  color: rgb(2, 30, 187);
}

.add-item-container {
  width: 70%;
  margin: auto;
  background: white;
  border: 1px solid rgb(181, 174, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.create-form {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 30px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-form label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.create-form input[type="text"],
.create-form textarea,
.create-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.create-form input[type="file"] {
  margin-top: 5px;
  width: 100%;
}

.create-form button {
  background-color: #085dce;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-form button:hover {
  background-color: #043033;
}

@media only screen and(max-width:600px) {
  .create-form {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    background: white;
    padding: 20px;
    border-radius: 5px;
  }

  .create-form input[type="text"],
  .create-form textarea,
  .create-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
}

/* Existing styles here */

/* Add media query for mobile devices */
@media only screen and (max-width: 600px) {
  /* Adjust navbar styles for mobile */
  .nav input {
    width: 50%;
    margin-left: 20px; /* Adjust margin for smaller screens */
  }

  .logo {
    padding: 0 20px; /* Adjust padding for smaller screens */
  }

  .nav ul {
    margin-right: 10px; /* Adjust margin for smaller screens */
  }

  /* Adjust card styles for mobile */
  .card {
    width: 100%; /* Take full width on smaller screens */
    margin: 10px 0; /* Adjust margin for smaller screens */
  }

  .card img {
    width: 100%; /* Make images full width on smaller screens */
    height: auto; /* Auto height to maintain aspect ratio */
  }

  /* Adjust login/signup form styles for mobile */
  .user-login,
  .signup {
    width: 90%; /* Adjust width for smaller screens */
  }

  form {
    margin: 20px; /* Adjust margin for smaller screens */
  }

  form input,
  form button {
    width: 100%; /* Make form inputs and buttons full width */
  }

  /* Adjust footer styles for mobile */
  .footer-row {
    flex-direction: column; /* Stack footer columns in a column */
    align-items: center; /* Center align footer content */
    text-align: center; /* Center align text */
    height: 100px;
  }

  .footer-col {
    flex-basis: 100%; /* Take full width on smaller screens */
    margin-bottom: 20px; /* Adjust margin for smaller screens */
  }
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
}

.wrapper {
  width: 900px;
  background: white;
  border: 1px solid rgb(209, 197, 197);
  border-radius: 10px;
  color: black;
  padding: 40px 35px 55px 44px;
}
.wrapper h4 {
  font-size: 26px;
  font-weight: lighter;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-box .input-field {
  position: relative;
  width: 49%;
  height: 50px;
  margin: 11px 0;
  background: white;
  border-radius: 5px;
}
.input-box .input-field input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid rgba(11, 181, 152, 0.2);
  outline: none;
  color: black;
  border-radius: 6px;
  padding: 20px 15px 15px 30px;
}

.input-box .input-field input::placeholder {
  color: black;
}

.faUser {
  position: absolute;
  left: 15px;
  top: 37%;
  transform: translate(-50%);
}

.wrapper label {
  display: flex;
  font-size: 16px;
  margin: 10px 0px 20px 0px;
}
.wrapper label input {
  margin-top: 2px;
  height: 15px;
  width: 15px;
  accent-color: white;
  margin-right: 5px;
}
.wrapper .btn {
  width: 100%;
  min-height: 45px;
  background: white;
  color: rgb(88, 179, 204);
  font-size: 20px;
  border: 1px solid rgb(210, 201, 201);
  border-radius: 5px;
  font-weight: lighter;
}

@media (max-width: 576px) {
  .input-box .input-field {
    width: 100%;
    margin: 10px;
  }
}

.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 450px;
  padding: 20px;
}

.current-image {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: rgb(223, 218, 218);
  filter: drop-shadow(0px 0px 5px #555);
}

.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}

.circle-indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.current-indicator {
  background-color: rgb(204, 204, 200);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
}

.hide-current-image {
  display: none;
}
.inactive-indicator {
  background-color: grey;
}

.item-detail {
  padding: 20px;
}

.item-title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
  padding-bottom: 7px;
}

.item-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 110px;
  background: #47627e;
}

.item-detail-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.right-container {
  width: 100%;
  height: 100vh;
  border: 2px solid rgb(216, 209, 209);
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}
.left-container {
  border-radius: 5px;
  width: 100%;
  height: 100vh;
  border: 2px solid rgb(216, 209, 209);
  background-color: rgb(236, 236, 236);
}

.item-detail-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .item-detail-container {
    flex-direction: row;
  }

  .left-container {
    flex: 1; /* Take up remaining space */
    margin-right: 20px; /* Add space between left and right containers */
  }

  .right-container {
    flex: 1; /* Take up remaining space */
  }
}

@media (max-width: 576px) {
  .slider-container {
    width: 100%; /* Make slider full width */
    margin: 10px 0; /* Adjust margin for smaller screens */
  }

  .right-container,
  .left-container {
    width: 100%; /* Make both containers full width */
    margin: 0; /* Remove margin */
  }
}

/* humberger menu style */

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  z-index: 100;
}

.nav li {
  border-radius: 5px;
  width: 60%;
  list-style: none;
  text-decoration: none;
  color: rgb(21, 21, 21);
  padding: 10px;
  height: 40px;
  margin-left: 15px;
  border: 1px solid #92b4e1;
  margin-bottom: 1px;
}
.collection {
  margin-left: 15px;
}

.icon .bar {
  background-color: #171616;
}

.icon #bar1 {
  transform: translateY(4px) rotate(-45);
  background-color: #043033;
}

.icon #bar3 {
  transform: translateY(-6px) rotate(45);
  background-color: #043033;
}

.icon #bar2 {
  background-color: #043033;
  opacity: 0;
}

.bar {
  height: 5px;
  width: 90%;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  background-color: #043033;
}

#menu #bar1 {
  transform: translateY(-4px);
  background-color: #043033;
}

#menu #bar3 {
  transform: translateY(4px);
  background-color: #043033;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  padding: 0;
  margin: 0;
  transition: 1s ease;
  display: none;
}

.change {
  background: rgb(242, 243, 244);
  height: 100vh;
  position: fixed; /* Change to fixed positioning */
  top: 0; /* Adjust top position */
  z-index: 99;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

@media screen and (max-width: 768px) {
  .change {
    width: 100%;
  }
}

/* Small screens (phones,  landscape phones, 600px and up) */
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* Adjust menu styles for small screens */
}

/* Medium screens (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Adjust menu styles for medium screens */
}

/* Large screens (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  /* Adjust menu styles for large screens */
}

.nav li a:hover {
  color: #000000;
  background-color: #eae4e4;
  border-radius: 5px;
  padding: 5px;
}

.edit-form-button button {
  margin-top: 5px;
  margin-right: 5px;
}
.edit-form-button .btn-delete {
  background: red;
}
.btn-edit-item{
  margin-left: 8rem;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px 150px 10px 150px;
  border-radius: 5px;
  font-size: 16px;

  
}
