* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrt;
}

.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container {
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  width: 200px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.card img {
  width: 200px;
  height: 200px;
}

.card-content {
  padding: 16px;
}
.card-content h3 {
  font-size: 17px;
  font-weight: lighter;
  margin-bottom: 8px;
}
.card-content p {
  margin-top: 6px;
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

/* this is the navbar style */
.nav {
  background-color: rgb(84, 74, 72);
  height: 80px;
  width: 100%;
}

.nav input {
  width: 25%;
  height: 37px;
  border: none;
  border-radius: 5px;
  position: absolute;
  margin-top: 20px;
  margin-left: 190px;
  padding-left: 5px;
}

.logo {
  color: #726962;
  font-size: 45px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo img {
  width: 100px;
}

.nav ul {
  float: right;
  margin-right: 20px;
}

.nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.nav ul li a {
  color: #278fc0;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.nav ul li a:hover {
  color: rgb(98, 205, 232);
}

/* this is the login style starts from here */

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-login {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 50vh; /* Set the height to the full viewport height */
  width: 50vh;
  background-color: #494949;
  border-radius: 10px;
}
form {
  margin: 50px;
}
form input {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid rgb(133, 214, 236);
  margin-bottom: 3px;
  display: block;
  padding-left: 5px;
}

form button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #278fc0;
  font-size: large;
  font-weight: bold;
  background-color: #0b0b0b;
}

.col-2 ul {
  border-radius: 8px;
  width: 200px;
  list-style: none;
  line-height: 35px;
  padding-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.col-2 ul li {
  border-radius: 5px;
  height: 50px;
  padding-left: 15px;
  border: 1px solid #d7e1eb;
}

.list-group-item:hover {
  background-color: #e9ecef;
}

.col-2 {
  padding-top: 10px;
}

.row {
  display: flex;
}

.category-button {
  margin-bottom: 5px;
  border: none;
  border-radius: 8px;
  width: 179px;
  list-style: none;
  line-height: 35px;
  margin-left: 20px;
  background-color: #fd7e14;
  color: #278fc0;
  font-weight: bold;
  font-size: 17px;
  height: 50px;
}

.cat-items {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.cat-items img {
  width: 300px;
}

.cat-item-img {
  display: flex;
}

.detail-page {
  margin: 50px;
}
.item-details {
  display: flex;
  justify-content: center;
  align-items: center;

  justify-content: center;
  align-items: center;
}

.detail-page img {
  width: 300px;
}

.login-link p {
  width: 180px;
  text-align: center;
}

.nav ul li button {
  background-color: #dcdadc;
  color: #278fc0;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.nav ul li button:hover {
  background-color: #06565b;
  color: white;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logout {
  height: 50vh;
  width: 50vh;
  background-color: #46494b;
  margin-top: 20px;
  border-radius: 5px;
  padding-top: 10px;
}
.logout p {
  font-size: 20px;
  color: white;
}
.logout button {
  margin-top: 20px;
  background-color: #dcdadc;
  color: #278fc0;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.login-link a {
  color: #431102;
  font-weight: bold;
  font-size: 20px;
}
.login-link a:hover {
  color: white;
}

.small-img {
  width: 300px;
}

.buy-button button {
  background-color: #222324;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}
.buy-button button:hover {
  color: #c6cc09;
  font-weight: bold;
}
.buy-button {
  padding-left: 10px;
  padding-right: 10px;
}
.collection {
  color: #278fc0;
}

.list-group a {
  color: #278fc0;
}

footer {
  width: 100%;
  bottom: 0;
  background: #313030;
  padding: 20px 0px 20px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  color: white;
  position: fixed;
}

.footer-row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col {
  flex-basis: 25%;
  padding: 10px;
}
.footer-col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.footer-logo {
  width: 110px;
  height: 50px;
}

footer ul li a {
  color: rgb(255, 255, 255);
}

.social-icons {
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  padding: 10px;
}

.facebook {
  width: 35px;
  height: 40px;
}
.whatsapp {
  width: 40px;
  height: 40px;
}

.login-button {
  background-color: #060606;
}
.login-button:hover {
  background-color: #a9a4a4;
  color: white;
}

.add-item-container {
  max-width: 600px;
  margin: auto;
}

.create-form {
  background-color: #303030;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-form label {
  display: block;
  margin-bottom: 5px;
  color: #eaeff2;
}

.create-form input[type="text"],
.create-form textarea,
.create-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.create-form input[type="file"] {
  margin-top: 5px;
}

.create-form button {
  background-color: #060606;
  color: #278fc0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-form button:hover {
  background-color: #043033;
}

/* Existing styles here */

/* Add media query for mobile devices */
@media only screen and (max-width: 600px) {
  /* Adjust navbar styles for mobile */
  .nav input {
    width: 50%;
    margin-left: 20px; /* Adjust margin for smaller screens */
  }

  .logo {
    padding: 0 20px; /* Adjust padding for smaller screens */
  }

  .nav ul {
    margin-right: 10px; /* Adjust margin for smaller screens */
  }

  /* Adjust card styles for mobile */
  .card {
    width: 100%; /* Take full width on smaller screens */
    margin: 10px 0; /* Adjust margin for smaller screens */
  }

  .card img {
    width: 100%; /* Make images full width on smaller screens */
    height: auto; /* Auto height to maintain aspect ratio */
  }

  /* Adjust login/signup form styles for mobile */
  .user-login,
  .signup {
    width: 90%; /* Adjust width for smaller screens */
  }

  form {
    margin: 20px; /* Adjust margin for smaller screens */
  }

  form input,
  form button {
    width: 100%; /* Make form inputs and buttons full width */
  }

  /* Adjust footer styles for mobile */
  .footer-row {
    flex-direction: column; /* Stack footer columns in a column */
    align-items: center; /* Center align footer content */
    text-align: center; /* Center align text */
    height: 100px;
  }

  .footer-col {
    flex-basis: 100%; /* Take full width on smaller screens */
    margin-bottom: 20px; /* Adjust margin for smaller screens */
  }
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(217, 225, 225);
}

.wrapper {
  width: 900px;
  background-color: rgb(67, 63, 63);
  border-radius: 10px;
  color: white;
  padding: 40px 35px 55px 44px;
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-box .input-field {
  position: relative;
  width: 49%;
  height: 50px;
  margin: 11px 0;
  background-color: rgb(84, 74, 72);
  border-radius: 5px;
}
.input-box .input-field input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid rgba(11, 181, 152, 0.2);
  outline: none;
  color: white;
  border-radius: 6px;
  padding: 20px 15px 15px 30px;
}

.input-box .input-field input::placeholder {
  color: rgb(240, 236, 236);
}

.faUser {
  position: absolute;
  left: 15px;
  top: 37%;
  transform: translate(-50%);
}

.wrapper label {
  display: flex;
  font-size: 16px;
  margin: 10px 0px 20px 0px;
}
.wrapper label input {
  margin-top: 2px;
  height: 15px;
  width: 15px;
  accent-color: white;
  margin-right: 5px;
}
.wrapper .btn {
  width: 100%;
  min-height: 45px;
  background-color: rgb(43, 62, 74);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .input-box .input-field {
    width: 100%;
    margin: 10px;
  }
}

.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 450px;
  padding: 20px;
}

.current-image {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: rgb(223, 218, 218);
  filter: drop-shadow(0px 0px 5px #555);
}

.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}

.circle-indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.current-indicator {
  background-color: rgb(204, 204, 200);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
}

.hide-current-image {
  display: none;
}
.inactive-indicator {
  background-color: grey;
}




.item-detail {
  padding: 20px;
}

.item-title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
  padding-bottom: 7px;
}

.item-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 110px;
  background: #47627e;
}

.item-detail-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.right-container {
  
  width: 100%;
  height: 100vh;
  border: 2px solid rgb(216, 209, 209);
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  
  
}
.left-container {
  border-radius: 5px;
  width: 100%;
  height: 100vh;
  border: 2px solid rgb(216, 209, 209);
  background-color: rgb(236, 236, 236);
}


.item-detail-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .item-detail-container {
    flex-direction: row;
  }
  
  .left-container {
    flex: 1; /* Take up remaining space */
    margin-right: 20px; /* Add space between left and right containers */
  }

  .right-container {
    flex: 1; /* Take up remaining space */
  }
}

@media (max-width: 576px) {
  .slider-container {
    width: 100%; /* Make slider full width */
    margin: 10px 0; /* Adjust margin for smaller screens */
  }

  .right-container, .left-container {
    width: 100%; /* Make both containers full width */
    margin: 0; /* Remove margin */
  }
}
